<%-include("partials/_header")%>

<!-- code here -->
<section class="hero">
  <div class="hero_copy">
    <h2>Tell My Story</h2>
    <div class="subheading">
      <p>Tell a story</p>
      <p>Add to a story</p>
      <p>Read a story</p>
    </div>
    <a href="#" class="button">START NOW</a>
  </div>
  <div class="hero_image">
    <img src="/images/hero.png">
  </div>
</section>
<section class="discover">
  <div class="container">
  <h2>Discover Stories</h2>
<% for (let story of stories) { %>
    <div class="storybox">
      <p><%= story.title %></p>
      <img>
    </div>
  <% } %>
  </div>
</section>


<%-include("partials/_footer")%>
