<%-include("partials/_header")%>

<!-- code here -->
<section class="hero">
  <div class="hero_copy">
    <h2>Tell My Story</h2>
    <div class="subheading">
      <p>Tell a story</p>
      <p>Add to a story</p>
      <p>Read a story</p>
    </div>
    <a href="#" class="button">START NOW</a>
  </div>
  <div class="hero_image">
    <img src="https://images.pexels.com/photos/3755707/pexels-photo-3755707.jpeg">
  </div>
</section>
<section class="discover">
  <h2>Discover Stories</h2>
  <div class="container">
    <div class="storybox">
      <p>Title</p>
      <img>
    </div>
    <div class="storybox">
      <p>Title</p>
      <img>
    </div>
    <div class="storybox">
      <p>Title</p>
      <img>
    </div>
    <div class="storybox">
      <p>Title</p>
      <img>
    </div>
    <div class="storybox">
      <p>Title</p>
      <img>
    </div>
    <div class="storybox">
      <p>Title</p>
      <img>
    </div>
    <div class="storybox">
      <p>Title</p>
      <img>
    </div>
    <div class="storybox">
      <p>Title</p>
      <img>
    </div>
    <div class="storybox">
      <p>Title</p>
      <img>
    </div>
  </div>
</section>


<%-include("partials/_footer")%>
