<%-include("partials/_header")%>

<!-- code here -->
<section class="hero">
  <div class="hero_copy">
    <h1>Tell My Story</h1>
    <div class="subheading">
      <p>Tell a story</p>
      <p>Add to a story</p>
      <p>Read a story</p>
    </div>
    <a href="#" class="button">START NOW</a>
  </div>
  <div class="hero_image">
    <img src="https://images.pexels.com/photos/3755707/pexels-photo-3755707.jpeg">
  </div>
</section>
</body>

<%-include("partials/_footer")%>
