<%-include("../partials/_header")%>
<%-include("../partials/_navbar")%>

<section class="discover">
  <div class="container">
  <h2>Discover Stories</h2>
<% for (let story of stories) { %>
    <div class="storybox">
      <p><%= story.title %></p>
      <img>
    </div>
  <% } %>
  </div>
</section>


<%-include("../partials/_footer")%>
