<%-include("../partials/_header")%>

<div class="main">

<h2>Begin a New Story</h2>
<section class="new-story">

  <img src="/images/star.png">

  <form action="/stories/new" method="POST">
    <div>
      <label for="title">Story Title: </label>
      <input id="new-story-title" type="text" name="title" placeholder="My Story Title" required>
    </div>
    <div>
      <label for="initialContent"></label>
      <textarea id="new-story-text" name="initialContent" placeholder="Once upon a time..." required></textarea>
      <button id="new-story-btn" role="button" type="submit">Publish</button>
    </div>
  </form>

  <img src="/images/pencil.png">

</section>
</div>

<%-include("../partials/_footer")%>
