<%-include("../partials/_header")%>
<%-include("../partials/_navbar")%>

<!-- /stories/new -->

<h2>Create New Story</h2>
<section class="new-story">
  <form action="/stories/new" method="POST">
    <div>
      <label for="title">Choose a Title for your Story</label>
    </div>
    <div>
      <input id="new-story-title" type="text" name="title" placeholder="Enter Story Title">
    </div>
    <div>
      <label for="initialContent"></label>
      <textarea id="new-story-text" name="initialContent" placeholder="Once upon a time..."></textarea>
      <button id="new-story-btn" type="submit">Submit</button>
    </div>
  </form>
</section>


<%-include("../partials/_footer")%>
