<%-include("../partials/_header")%>
<%-include("../partials/_navbar")%>

<h1>Stories/New</h1>

<h3>Create New Story</h3>
<form action="/stories/new" method="POST">
  <div>
    <label for="title">Story Title</label>
    <input type="text" name="title" placeholder="Title">
    <label for="initialContent">Write Story Here</label>
    <input type="text" name="initialContent" placeholder="Story Content">
    <button type="submit">Submit</button>
  </div>
</form>

<%-include("../partials/_footer")%>
