<%-include("../partials/_header")%>

<section class="discover">
  <div class="container">
  <h2>Discover Stories</h2>
<% for (let story of stories) { %>
    <div class="storybox">
      <a href="/stories/<%=story.id%>"><%=story.title%></a>

      <% if(!story.complete){%>
        <p>incomplete - add image here</p>
      <% }
      else if (story.complete) { %>
        <p>complete - add image here</p>
      <%}
      else { '' }; %>

    </div>
  <% } %>
  </div>
</section>


<%-include("../partials/_footer")%>
