<%-include("../partials/_header")%>
<section class="dashboard">
  <div class="heading"><h1>What would you like to do?</h1></div>
  <div class="action_box">
    <div class="action">
      <img>
      <p class="box_heading">Start a New Story</p>
      <p class="body">Lorem Ipsum things in here Lorem Ipsum things in here Lorem Ipsum things in here</p>
    </div>
    <div class="action">
      <img>
      <p class="box_heading">See My Stories</p>
      <p class="body">Lorem Ipsum things in here Lorem Ipsum things in here Lorem Ipsum things in here</p>
    </div>
    <div class="action">
      <img>
      <p class="box_heading">Discover Stories</p>
      <p class="body">Lorem Ipsum things in here Lorem Ipsum things in here Lorem Ipsum things in here</p>
    </div>
  </div>
</section>

<%-include("../partials/_footer")%>
