<%-include("../partials/_header")%>

<section class="dashboard">
  <div class="heading"><h2>What would you like to do?</h2></div>
  <div class="action_box">
    <div class="action">
      <a href="/stories/new"><p class="box_heading">Create a New Story</p></a>
      <img>
    </div>
    <div class="action">
      <a href="/users/1/stories"><p class="box_heading">See My Stories</p></a>
      <img>
    </div>
    <div class="action">
      <a href="/users/1/contributions"><p class="box_heading">See My Contributions</p></a>
      <img>
    </div>
  </div>
</section>

<%-include("../partials/_footer")%>
