<%-include("../partials/_header")%>

<div class="main">

<h1>My Stories</h1>
<% for (let story of stories) { %>
  <div>
    <ul><%= story.title %></ul>
    <ul><%= story.initial_content %></ul>
  </div>
<% } %>
</div>

<%-include("../partials/_footer")%>
