<%-include("../partials/_header")%>

<h1>Show user's stories</h1>
<% for (let story of stories) { %>
  <div>
    <ul><%= story.title %></ul>
    <ul><%= story.initial_content %></ul>
  </div>
<% } %>

<%-include("../partials/_footer")%>
