<%-include("../partials/_header")%>

<h1>Show user's stories</h1>
<% for (let contribution of contributions) { %>
  <div>
    <ul><%= contribution.content %></ul>
  </div>
<% } %>

<%-include("../partials/_footer")%>
