$h2size: 4rem;
$deepblue: #227C9D;
$blue: #84c7ce;
$yellow: #FFCB77;
$teal: #0f8a7a;
$coral: #fe6d73;
$cream: #fafaf8;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  h1 {
    color: $cream;
  }
  h2 {
    font: {
      size: $h2size;
    }
  }
  p {
    font: {
      size: 1.5rem;
    }
  }

  .button {
    background-color: $coral;
    border: {
      radius:28px;
    }
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font: {
      family: Arial;
      size: 17px;
      weight: bold;
    }
    padding:16px 31px;
    text: {
      decoration: none;
      align: center;
    }
  }
  .button:hover {
    background-color:#a17a95;
  }
  .button:active {
    position:relative;
    top:1px;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background: {
      color: $teal;
    }

    p {
      font: {
        size: 30px;
      }
      color: $coral;
    }

    nav {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
        color: $cream;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: {
      color: $cream;
    }
    height: 37rem;

    .hero_copy, .hero_image {
      display: flex;
      flex-direction: column;
      margin: 5%;
    }
    .hero_copy {
      h2 {
        margin: {
          top: 1%;
          bottom: 0;
        }
      }

      .subheading {
        p {
          font: {
            size: 1.5rem;
          }
        }
      }
      .button {
        width: 60%;
        margin-top: 10%;
        font: {
          size: 1.1rem;
        }
      }
    }

    .hero_image {
      img {
        height: 400px;
        width: 400px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }

  .discover {
    display: flex;
    flex: {
      direction: column;
      grow: 1;
    }
    background: {
      color: $cream;
    }

    h2 {
      width: 100%;
      color: $coral;
      text: {
        align: center;
      }
    }
    .container {
      margin: 0% 5% 5% 5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .storybox {
        height: 7rem;
        width: 30%;
        margin: 2% 1%;
        border: {
          radius: 15px;
        }
        background: {
          color: rgb(255, 255, 107);
        }
        p {
          color: black;
          font: {
            weight: bold;
          }
        }
      }
    }
  }

  .dashboard {
    background: {
      color: $cream;
    }
    flex: {
      direction: column;
      grow: 1;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .heading {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      h1 {
        font: {
          size: 3rem;
        }
      }
    }
    .action_box {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 1% 5%;
      min-height: 300px;
      .action {
        display: flex;
        flex-direction: column;
        width: 30%;
        background: {
          color: $teal;
        }
        .box_heading {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $teal;
          font: {
            size: 2rem;
          }
        }
        .body {
          color: $cream;
          font: {
            size: 1rem;
          }
          margin: 5%;
          text-align: center;
        }
      }
    }
  }
}
