$h2size: 4rem;
$deepblue: #227c9d;
$blue: #84c7ce;
$yellow: #ffcb77;
$teal: #1c9f8e;
$coral: #fe6d73;
$cream: #fafaf8;

@mixin button {
  background-color: $coral;
  border: {
    radius: 28px;
  }
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font: {
    family: Arial;
    size: 17px;
    weight: bold;
  }
  padding: 16px 31px;
  text: {
    decoration: none;
    align: center;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  h1 {
    color: $cream;
  }
  h2 {
    font: {
      size: $h2size;
    }
    text-align: center;
    color: $yellow;
    text-shadow: 1px 1px 1px hsl(186, 43%, 60%), 2px 2px 2px hsl(186, 43%, 60%),
      4px 4px 4px hsl(186, 43%, 60%), 8px 8px 8px hsl(186, 43%, 60%);
  }
  p {
    font: {
      size: 1.5rem;
    }
    text-decoration: none;
  }
  a:hover {
    transform: scale(1.1);
  }
  .button {
    @include button();
    -webkit-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
  }
  .button:hover {
    background-color: $deepblue;
    transform: scale(1.05);
  }
  .button:active {
    position: relative;
    top: 1px;
  }

  /// NAV BAR ///

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: {
      color: $teal;
    }
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10;
    padding: {
      left: 10px;
      right: 10px;
    }

    .nav-logo {
      display: flex;
      a {
        font: {
          size: 30px;
        }
        color: $yellow;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
      }
      img {
        width: 60px;
      }
    }

    nav {
      width: 50%;
      display: flex;
      justify-content: space-around;
      a {
        color: $cream;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  // MAIN CONTAINER //

  .main {
    padding-top: 100px;

    // HOME PAGE //
    .hero {
      padding-top: 5%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background: {
        color: $cream;
      }
      height: 47rem;

      .hero_copy {
        display: flex;
        flex-direction: column;
        h2 {
          margin: {
            top: 1%;
            bottom: 0;
          }
          color: $deepblue;
          font-weight: bolder;
          text-shadow: 1px 1px 1px hsl(60, 17%, 85%),
            2px 2px 2px hsl(160, 17%, 85%), 4px 4px 4px hsl(60, 17%, 85%),
            8px 8px 8px hsl(60, 17%, 85%);
        }

        .subheading {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 42%;
          margin: {
            top: 5%;
            left: 5%;
          }
          .sub_item {
            display: flex;
            img {
              height: 40px;
              width: auto;
              margin-right: 2%;
            }
            p {
              margin: 0;
              font: {
                size: 2rem;
                weight: bold;
              }
            }
          }
        }
        .button {
          width: 60%;
          margin-top: 10%;
          font: {
            size: 1.1rem;
          }
          -webkit-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms;
        }
      }

      .hero_image {
        img {
          height: 500px;
          width: auto;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
      }
    }
    /// DISCOVER PAGE ///
    .discover {
      display: flex;
      flex: {
        direction: column;
        grow: 1;
      }
      h2 {
        width: 100%;
        color: $yellow;
        text: {
          align: center;
        }
      }
      .container {
        margin: 0% 5% 5% 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .storybox {
          height: 7rem;
          width: 30%;
          margin: 2% 1%;
          border: {
            radius: 15px;
          }
          background: {
            color: $deepblue;
          }
          a {
            color: $cream;
            font: {
              weight: bold;
            }
            text-decoration: none;
          }
          img {
            align-self: flex-end;
            height: 60px;
            width: 60px;
          }
        }
      }

      /// USER'S STORIES ///
    }
    .user_stories {
      display: flex;
      flex-direction: column;
      align-items: center;

      .storybox_large {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 45%;
        height: 150px;
        font-family: Courier, monospace;
        font-size: 24px;
        resize: none;
        margin-bottom: 30px;
        background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
          url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
        background-repeat: repeat-y, repeat;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        -webkit-box-shadow: 0px 2px 14px #000;
        box-shadow: 0px 2px 14px #000;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-style: hidden;

        &:focus {
          outline: none;
        }

        a {
          color: $deepblue;
          font: {
            weight: bold;
            size: 2.5rem;
          }
          padding: {
            left: 20%;
            right: 15px;
            bottom: 34px;
            top: 0px;
          }
          text-decoration: none;
        }
        img {
          align-self: flex-end;
          height: 60px;
          width: 60px;
        }
      }
    }

    //// DASHBOARD ////

    .dashboard {
      flex: {
        direction: column;
        grow: 1;
      }
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
      }
      text: {
        align: center;
      }
      .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        h2 {
          padding-bottom: 50px;
          font-size: 4rem;
          text-align: center;
          color: $yellow;
          text-shadow: 2px 1px 0px #b0797e, 4px 3px 0px rgba(0, 0, 0, 0.15);
        }
      }
      .action_box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1% 5%;
        min-height: 260px;
        width: 1000px;

        .action {
          display: flex;
          flex-direction: column;
          width: 30%;
          border-radius: 8%;
          background-color: $teal;
          img {
            width: 160px;
            height: 160px;
          }
          .box_heading {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 10px;
            color: $cream;
            size: 2rem;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }

    /// NEW STORY ///
    .new-story {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Courier, monospace;
      font-size: x-large;

      div {
        width: 700px;
      }
      img {
        width: 300px;
        height: 300px;
        padding: 30px;
        margin-bottom: 400px;
      }
    }
    #new-story-title {
      color: #201e1e;
      border-top: 0px;
      border-right: 0px;
      border-left: 0px;
      width: 500px;
      margin-top: 10px;
      margin-bottom: 30px;
      padding: 20px;
      background-color: transparent;
      border-bottom: 2px solid black;
      text-align: left;
      font-family: Courier, monospace;
      height: 28px;

      &:focus {
        outline: none;
      }
    }
    #new-story-text {
      width: 700px;
      height: 600px;
      padding: 10px;
      vertical-align: text-bottom;
      overflow: hidden;
      background-color: #fff;
      color: #222;
      font-family: Courier, monospace;
      font-weight: normal;
      font-size: 24px;
      resize: none;
      line-height: 40px;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 45px;
      padding-bottom: 34px;
      background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
        url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
      background-repeat: repeat-y, repeat;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      -webkit-box-shadow: 0px 2px 14px #000;
      box-shadow: 0px 2px 14px #000;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-style: hidden;

      &:focus {
        outline: none;
      }
    }
    #new-story-btn {
      @include button();
      margin-top: 20px;
      margin-bottom: 20px;
      -webkit-transition: transform ease-in-out 400ms;
      -o-transition: transform ease-in-out 400ms;
      -ms-transition: transform ease-in-out 400ms;
      -moz-transition: transform ease-in-out 400ms;
      transition: transform ease-in-out 400ms;
    }
    #new-story-btn:hover {
      background-color: $deepblue;
      transform: scale(1.05);
      border-radius: 10px;
    }
    #new-story-btn:active {
      position: relative;
      top: 1px;
    }
  }
}
