$h2size: 4rem;
$deepblue: #227c9d;
$blue: #84c7ce;
$yellow: #ffcb77;
$teal: #1c9f8e;
$coral: #fe6d73;
$cream: #fafaf8;
$boxcolor: #fce7c6;
$transparentboxcolor: #fce7c694;
$cutivefont: "Cutive Mono", monospace;
$montserratfont: "Montserrat", sans-serif;

@mixin button {
  background-color: $coral;
  border: {
    radius: 28px;
  }
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font: {
    family: Arial;
    size: 17px;
    weight: bold;
  }
  padding: 16px 31px;
  text: {
    decoration: none;
    align: center;
  }
  -webkit-transition: transform ease-in-out 400ms;
  -o-transition: transform ease-in-out 400ms;
  -ms-transition: transform ease-in-out 400ms;
  -moz-transition: transform ease-in-out 400ms;
  transition: transform ease-in-out 400ms;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  h1 {
    color: $cream;
  }
  h2 {
    font: {
      size: $h2size;
      family: "Montserrat", sans-serif;
    }
    text-align: center;
    color: $yellow;
    text-shadow: 4px 2px 0px #b0797e, 6px 5px 0px #00000026;
  }
  p {
    font: {
      size: 1.5rem;
      family: $cutivefont;
    }
    text-decoration: none;
  }
  a {
    -webkit-transition: transform ease-in-out 200ms;
    -o-transition: transform ease-in-out 200ms;
    -ms-transition: transform ease-in-out 200ms;
    -moz-transition: transform ease-in-out 200ms;
    transition: transform ease-in-out 200ms;
  }
  a:hover {
    transform: scale(1.06);
  }
  .button {
    @include button();
    -webkit-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
  }
  .button:hover {
    transform: scale(1.05);
  }
  .button:active {
    position: relative;
    top: 1px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: {
      color: $teal;
    }
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10;
    padding: {
      left: 10px;
      right: 10px;
    }

    .nav-logo {
      a {
        display: flex;
        text-decoration: none;

        &:hover {
          transform: scale(1.05);
        }
        p {
          font: {
            size: 30px;
            family: "Montserrat", sans-serif;
          }
          color: $yellow;
        }
        img {
          width: 60px;
        }
      }
    }

    nav {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      a {
        color: $cream;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  //stories_show

  .stories_show {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    img {
      height: 80px;
      width: 80px;
    }
    h1 {
      color: $yellow;
      text-shadow: 2px 1px 0px #b0797e, 4px 3px 0px rgba(0, 0, 0, 0.15);
      margin: {
        bottom: 0;
        top: 0;
      }
      font: {
        size: 3rem;
      }
    }
    .title {
      display: flex;
      width: 80%;
      justify-content: space-between;
    }

    .story_header {
      display: flex;
      justify-content: space-between;
      color: white;
      margin-top: 8px;
      width: 50%;

      .header_elements {
        display: flex;
        width: 70%;
      }
      .story_creator {
        display:flex;
        p {
          font-family: $montserratfont;
          color: black;
          margin-left: 10px;
          padding: none;
        }
      }
      .story_avatar {
        display: flex;
        flex-direction: column;
        background-color: $cream;
        width: 100px;
        height: 100px;
        justify-content: center;
        align-items: center;
        border: 3px solid $yellow;
        border-radius: 100px;
        img {
          height: 80px;
          width: 80px;
        }
      }
      .status {
        display: flex;
        align-items: center;
        width: 50%;
        img {
          margin-left: 20px;
          margin-right: 20px;
        }
      }

      .story_book {
        height: 70px;
        width: 70px;
      }
    }
    .body_container {
      display: flex;
    }
    .content_container {
      display: flex;
      flex-direction: column;
      margin-top: 3%;
      width: 60%;
    }

    .content {
      margin-right: 2%;
      background-color: $cream;
      border-radius: 12px;
      padding-left: 2%;
      padding-right: 2%;
      border: 5px solid $yellow;
      width: 100%;
    }
    .submit_new {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15px;

      button {
        margin-top: 5%;
        margin-left: 40%;
      }

      .submit_contribution:hover {
        box-shadow: 1px 1px 1px hsl(186, 43%, 60%),
          2px 2px 2px hsl(186, 43%, 60%), 4px 4px 4px hsl(186, 43%, 60%),
          8px 8px 8px hsl(186, 43%, 60%);
      }
      .submit_contribution {
        padding: 10px;
        height: fit-content;
        width: 100%;
        vertical-align: text-bottom;
        overflow: hidden;
        background-color: #fff;
        color: #222;
        font-family: Courier, monospace;
        font-weight: normal;
        font-size: 24px;
        resize: none;
        line-height: 40px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 45px;
        padding-bottom: 34px;
        background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
          url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
        background-repeat: repeat-y, repeat;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        -webkit-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms;

        &:focus {
          outline: none;
        }

    }
  }
    .pending_subs {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
    }
    .pending_copy {
      font-weight: bold;
    }
    .pending {
      width: 90%;
      background-color: $cream;
      border: 5px solid $coral;
      border-radius: 15px;
      margin-bottom: 15px;
      padding: 0 3%;
      .contributor,
      .likes_accept,
      .votes {
        display: flex;
        flex-direction: row;
      }
       p {
         word-wrap: break-word;
       }
      .contributor,
      .votes {
        p {
          font-family: $montserratfont;
          margin-left: 5px;
          color: rgb(54, 54, 54);
        }
      }
      .likes_accept {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .button {
          background-color: $deepblue;
        }
        .votes {
          align-items: center;
          width: 10%;
          .upvote {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }

  .main {
    //homepage
    padding-top: 100px;

    .hero {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background: {
        color: $cream;
      }
      height: 47rem;

      .hero_heading {
        display: inline-block;
        margin-bottom: 50px;

        &:first-child {
          width: 100%;
          height: 100px;
        }
        &:not(:first-child) {
          flex: 1;
        }
      }

      .hero_copy {
        display: flex;
        flex-direction: column;
        h2 {
          margin: {
            top: 1%;
            bottom: 0;
          }
        }

        .subheading {
          display: flex;
          flex-direction: column;
          height: 30%;
          margin: {
            top: 5%;
            left: 5%;
            bottom: 10%;
          }
          .sub_item {
            display: flex;
            padding-top: 10px;
            margin-bottom: 10px;
            width: fit-content;
            img {
              height: 70px;
              width: auto;
              margin-right: 2%;
            }
            p {
              margin: 20px;
              color: #312e2e;
              width: 440px;
              font: {
                size: 1.75rem;
                weight: bold;
              }
            }
          }
        }
        .button {
          width: 40%;
          margin-top: 25%;
          font: {
            size: 1.1rem;
          }
        }
      }

      .hero_image {
        display: flex;
        img {
          height: 500px;
          width: auto;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
      }
    }

    .discover {
      display: flex;
      flex: {
        direction: column;
        grow: 1;
      }
      h2 {
        width: 100%;
        color: $yellow;
        text: {
          align: center;
        }
      }
      .container {
        margin: 0% 5% 5% 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .storybox {
          display: flex;
          width: 30%;
          font-family: Courier, monospace;
          font-size: 24px;
          resize: none;
          margin: 20px;
          padding: 1%;
          background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
            url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
          background-repeat: repeat-y, repeat;
          -webkit-border-radius: 12px;
          border-radius: 12px;
          -webkit-transition: all ease-in-out 300ms;
            -o-transition: all ease-in-out 300ms;
            -ms-transition: all ease-in-out 300ms;
            -moz-transition: all ease-in-out 300ms;
            transition:  ease-in-out 300ms;

          &:hover {
            box-shadow: 1px 1px 1px hsl(186, 43%, 55%),
              2px 2px 2px hsl(186, 43%, 55%), 4px 4px 4px hsl(186, 43%, 55%), 8px 8px 8px hsl(186, 43%, 55%);

          }
          &:focus {
            outline: none;
          }
          a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-decoration: none;
            width: 100%;
            height: 100%;
          }
          a:hover {
            transform: none;
          }
          p {
            color: black;
            padding-left: 30px;
            font-size: 24px;
            resize: none;
            line-height: 40px;
          }
          img {
            height: 70px;
            width: auto;
          }
          .story_info {
            display: flex;
            width: 100%;
            align-items: center;
          }
          .creator {
            display: flex;
            width: 100%;
            align-items: center;
          }
        }
      }
    }
    /// USER'S STATS ///

    .user_stats {
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 60%;
      margin-left: 20%;
      margin-bottom: 5%;
      padding-left: 5%;
      padding-right: 5%;

      .avatar {
        background-color: $cream;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid $yellow;
        border-radius: 100px;

        img {
          height: 180px;
          width: 180px;
        }
      }
      .stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 57%;

        .stat {
          display: flex;
          background-color: $cream;
          border: 3px solid $coral;
          border-radius: 10px;
          margin-bottom: 5%;

          p {
            padding-left: 2%;
            padding-right: 2%;
            color: $deepblue;
          }
          img {
            height: 50px;
            width: auto;
            margin-top: 20px;
            margin-left: 5px;
          }
          .stat_num {
            color: $coral;
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
      }
    }
    /// USER'S STORIES ///

    .user_stories {
      display: flex;
      flex-direction: column;
      align-items: center;

      .storybox_large:hover {
        box-shadow: 1px 1px 1px hsl(186, 43%, 55%),
              2px 2px 2px hsl(186, 43%, 55%), 4px 4px 4px hsl(186, 43%, 55%), 8px 8px 8px hsl(186, 43%, 55%);
      }

      .storybox_large {
        display: flex;
        width: 45%;
        height: fit-content;
        font-family: Courier, monospace;
        font-size: 24px;
        resize: none;
        margin-bottom: 30px;
        padding: 1%;
        background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
          url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
        background-repeat: repeat-y, repeat;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        -webkit-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms;

        a {
          text-decoration: none;
          width: 100%;
          height: 100%;
        }
        a:hover {
          transform: none;
        }

        p {
          color: black;
          font: {
            weight: bold;
            size: 2.5rem;
          }
          padding: {
            right: 2%;
            left: 18%;
            bottom: 5%;
          }
          margin: 0;
        }
        img {
          align-self: center;
          height: 60px;
          width: auto;
        }
      }
    }

    /// USER CONTRIBUTIONS ///
    .contribution_box {
      display: flex;
      flex-direction: column;
      align-items: center;

      .contribution:hover {
        box-shadow: 1px 1px 1px hsl(186, 43%, 55%),
              2px 2px 2px hsl(186, 43%, 55%), 4px 4px 4px hsl(186, 43%, 55%), 8px 8px 8px hsl(186, 43%, 55%);
      }

      .contribution {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 45%;
        height: fit-content;
        font-family: Courier, monospace;
        font-size: 24px;
        resize: none;
        margin-bottom: 30px;
        padding: 1%;
        background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
          url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
        background-repeat: repeat-y, repeat;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        -webkit-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms;

        &:focus {
          outline: none;
        }
        a {
          text-decoration: none;
          width: 100%;
          height: 100%;
        }
        a:hover {
          transform: none;
        }

        .upvotes {
          display: flex;
          width: 10%;
          margin: {
            left: 2%;
            top: 2%;
          }
          img {
            height: 30px;
            width: auto;
          }
          p {
            font-family: $cutivefont;
          }
        }

        p {
          color: black;
          font: {
            weight: bold;
            size: 2.5rem;
          }
          padding: {
            right: 2%;
            left: 18%;
            bottom: 5%;
          }
          margin: 0;
        }
        img {
          align-self: center;
          height: 60px;
          width: auto;
        }
      }
    }

    //// DASHBOARD ////

    .dashboard {
      flex: {
        direction: column;
        grow: 1;
      }
      display: flex;
      align-items: center;

      text: {
        align: center;
      }
      .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        h2 {
          font-size: 4rem;
          text-align: center;
          color: $yellow;
          text-shadow: 2px 1px 0px #b0797e, 4px 3px 0px rgba(0, 0, 0, 0.15);
        }
      }
      .action_box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1% 5%;
        min-height: 300px;

        a {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          width: 30%;
          border-radius: 8%;
          background-color: $teal;
          border: 3px solid $cream;
          img {
            width: 180px;
            height: 180px;
          }
          .box_heading {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 10px;
            color: $cream;
            size: 2rem;
            font-weight: bolder;
            text-align: center;
          }
        }
      }
    }

    /// NEW STORY ///
    .new-story {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Courier, monospace;
      font-size: x-large;

      div {
        width: 700px;
      }
      img {
        width: 300px;
        height: 300px;
        padding: 30px;
        margin-bottom: 400px;
      }
    }
    #new-story-title {
      color: #201e1e;
      border-top: 0px;
      border-right: 0px;
      border-left: 0px;
      width: 500px;
      margin-top: 10px;
      margin-bottom: 30px;
      padding: 20px;
      background-color: transparent;
      border-bottom: 2px solid black;
      text-align: left;
      font-family: Courier, monospace;
      height: 28px;

      &:focus {
        outline: none;
      }
    }
    #new-story-text {
      width: 700px;
      height: 600px;
      padding: 10px;
      vertical-align: text-bottom;
      overflow: hidden;
      background-color: #fff;
      color: #222;
      font-family: Courier, monospace;
      font-weight: normal;
      font-size: 24px;
      resize: none;
      line-height: 40px;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 45px;
      padding-bottom: 34px;
      background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
        url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
      background-repeat: repeat-y, repeat;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      -webkit-transition: all ease-in-out 400ms;
      -o-transition: all ease-in-out 400ms;
      -ms-transition: all ease-in-out 400ms;
      -moz-transition: all ease-in-out 400ms;
      transition: all ease-in-out 400ms;

      border-style: hidden;

      &:focus {
        outline: none;
      }
    }
    #new-story-text:hover {
      box-shadow: 1px 1px 1px hsl(186, 43%, 55%),
        2px 2px 2px hsl(186, 43%, 55%), 4px 4px 4px hsl(186, 43%, 55%),
        8px 8px 8px hsl(186, 43%, 55%), 16px 16px 16px hsl(186, 43%, 55%);
    }
    #new-story-btn {
      @include button();
      margin-top: 20px;
      margin-bottom: 20px;
    }
    #new-story-btn:hover {
      transform: scale(1.05);
    }
    #new-story-btn:active {
      position: relative;
      top: 1px;
    }
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #227c9dd4;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: Courier, monospace;
  font-size: 20px;
  resize: none;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  width: 0;
  border-top: 20px solid #227c9dd4;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
