body {
  background-color: #84c7ce;
}

h2 {
  text-align: center;
  color: #FFCB77;
  text-shadow: 2px 1px 0px #b0797e, 4px 3px 0px rgba(0,0,0,0.15);
}

.new-story {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Courier, monospace;
  font-size: x-large;

}

#new-story-title {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  text-align: center;

  width: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  background-color:transparent;
  border-bottom:2px solid black;
  color: rgba(87, 85, 85, 0.637);
  font-family:Courier, monospace;
  height:28px;

}

#new-story-text {
  width: 700px;
  height: 600px;
  padding: 10px;
  vertical-align: text-bottom;
  overflow:hidden;
  background-color:#FFF;
  color:#222;
  font-family:Courier, monospace;
  font-weight:normal;
  font-size:24px;
  resize:none;
  line-height:40px;
  padding-left:100px;
  padding-right:100px;
  padding-top:45px;
  padding-bottom:34px;
  background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat:repeat-y, repeat;
  -webkit-border-radius:12px;
  border-radius:12px;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;
  border-style:hidden;
}

#new-story-text:focus {
  outline: none;
}
